KERNEL=="video[0-9]*",
SUBSYSTEM=="video4linux",
SUBSYSTEM=="usb",
ATTR{idVendor}=="07ca",
ATTR{idProduct}=="1513",
SYMLINK+="capture-card",
RUN+="/usr/bin/systemctl start deltav.service"
