[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/usr/local/bin/deltav/main.py 30 16 9 32 D21 50
TimeoutStopSec=90
RestartSec=10

[Unit]
After=multi-user.target
